{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="display-4">National Parks App</h1>
<div class="btn-group btn-group-lg">
    <a href="/user/signup" class="btn">Sign up</a>
    <a href="/user/login" class="btn">Login</a>
</div>
{% endblock %}