{% block content %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #7bc3f7;">
    <div class="container-fluid">
        
        {% if loggedIn %}
        <a href="/parks/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <a href="/" class="navbar-brand">Home Page</a>
        <a href="/parks/mine" class="navbar-brand">My Parks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}