.home-page {
    background-image: url("https://static.myscenicdrives.com/images/co/flat-tops-trail-scenic-byway.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.card-text, .card-header, .card-body {
    color:  black;
}
.card-img-top {
    height: 400px;
    width: 750px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.container-md {
    color: black;
}
#show-page-div {
    background-color: lightblue;
    text-align: center;
    color: black;
    align-items: center;
}
#index-page-div {
    color: black;
}
.card-header {
    font-size: 30px;
}
.form-label {
    color: white;
}
.btn-group {
    align-items: center;
    text-align: center;
    align-content: center;
}
.card-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#my-parks-head {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}
#card-layout {
    display: flex;
    flex-direction: row wrap;
    flex-flow: space-around;
} 