{% layout 'layout.liquid'%}
{% block content %}
<div id="my-page-div">
    <h2 class="display-6" id="my-parks-head">My Parks</h2>
    {% for park in parks %}
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ park.fullName }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Description: {{ park.description }}
                </p> 
                <form action="/parks/mine/delete/?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>     
    
</div><br>
    {% endfor %} 
{% endblock %}